$color-dark: #000000;
$color-dark-light: #2c3544;

$color-grey-light: #eff3f8;

$color-grey-light-1: #56575b;
$color-grey-white: #f4f2f2;
$color-grey-dark: #a8a5b9;

$color-grey-dark-light: #d7dae4;
$color-grey-dark-light-1: #2b2c2e;

$color-secondary: #784ac3;

$font-primary: "Roboto", sans-serif;
$font-text: "Josefin", sans-serif;

// margins
.u-margin-sm {
  margin-bottom: 3rem;
}
.u-margin-md {
  margin-bottom: 4.8rem;
}
.u-margin-lg {
  margin-bottom: 6rem;
}
