$color-dark: #000000;
$color-dark-light: #2c3544;

$color-grey-light: #eff3f8;
$color-grey-dark: #a8a5b9;

$color-grey-dark-light: #d7dae4;

$color-secondary: #784ac3;

$font-primary: "Roboto", sans-serif;
$font-text: "Josefin", sans-serif;
